/* Colors */
$black: #302C2B;
$white: #FCFAF9;
$red: #C9412A;
$gray: #C1BEBD;

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: $white;
  color: $black;
  font-family: 'Dosis', sans-serif;
}

header {
  padding: 1rem;
}

nav {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;

  .selected {
    color: $red;
  }

  a {
    color: $black;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: .2s ease border-bottom;
    -o-transition: .2s ease border-bottom;
    transition: .2s ease border-bottom;
    display: inline-block;

    &:hover {
      border-bottom: 2px solid $red;
    }
  }

  .jlj_logo {
    height: 60px;
  }

  .migre_logo {
    height: 90px;
  }

}

footer {
  background-color: $black;
  color: $gray;

  h1 {
    margin: 0 0 1rem;
    font-size: 1.7rem;
    font-weight: normal;
    color: $white;
  }

  .footerBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .logoBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    img {
      display: inline-block;
      margin: 0 1rem;
    }

    h3 {
      font-weight: normal;
      color: $white;
    }
  }

  .contact {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 3rem;

    a {
      color: $gray;
    }

    .social {
      margin-top: 1rem;

      a {
        font-size: 2rem;
        margin: 0 1rem 0 0;

        &:hover {
          color: $red;
        }
      }
    }

    p {
      font-size: 1.2rem;
      margin: 0 0 .5rem;

      svg {
        color: $red;
        margin-right: .5rem;
      }
    }
  }

  .subscribe {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 3rem;
    max-width: 325px;

    input {
      background-color: rgba(255,255,255,0.05);
      border: 1px solid rgba(255,255,255,0.1);
      border-radius: 3px;
      color: rgba(255,255,255,0.3);
      height: 2.5rem;
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: none;
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease;
      vertical-align: middle;
      padding: 9px 12px 8px;

      &:focus {
        border: 1px solid rgba(255,255,255,0.3);
        color: $black;
        background-color: $white;
      }
    }

    .name-input {
      width: 70%;
    }

    .submit-btn {
      width: 27%;
      margin-left: 2%;
      text-align: center;
      background-color: $red;
      color: white;

      &:hover {
        background-color: lighten($red, 7%)
      }
    }

    .email-input {
      width: 100%;
      margin-top: 3%;
    }
  }
}

.hero {
  height: 500px;
  background-color: $red;
  color: $white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 65, 42, 0.75)), to(rgba(201, 65, 42, 0.75))), url('../assets/columbus.png');
  background: -webkit-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/columbus.png');
  background: -o-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/columbus.png');
  background: linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/columbus.png');
  background-size: cover;

  .heroBox {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 6rem;

    h1, h2 {
      width: 66%;
      z-index: 2;
      position: relative;
    }

    h1 {
      font-weight: bold;
      font-size: 3rem;
    }

    h2 {
      font-weight: normal;
      font-size: 2.5rem;
    }

    .john {
      height: 400px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      float: right;
    }
  }

}

.about-hero {
  height: 250px;
  background-color: $red;
  color: $white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 65, 42, 0.75)), to(rgba(201, 65, 42, 0.75))), url('../assets/ohio.jpg');
  background: -webkit-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/ohio.jpg');
  background: -o-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/ohio.jpg');
  background: linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/ohio.jpg');
  background-size: cover;
  background-position: right 50% top 30%;

  .about-heroBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    h1 {
      font-weight: bold;
      font-size: 3rem;
      margin: 2rem 0 0;
    }

    div {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 3rem;
    }

  }

}

.about {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem;
}

.listings-hero {
  height: 250px;
  background-color: $red;
  color: $white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 65, 42, 0.75)), to(rgba(201, 65, 42, 0.75))), url('../assets/city.png');
  background: -webkit-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/city.png');
  background: -o-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/city.png');
  background: linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/city.png');
  background-size: cover;
  background-position: right 50% bottom 0%;

  .listings-heroBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    h1 {
      font-weight: bold;
      font-size: 3rem;
      margin: 2rem 0 0;
    }

    div {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 3rem;
    }

  }

}

.blog-hero {
  height: 250px;
  background-color: $red;
  color: $white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 65, 42, 0.75)), to(rgba(201, 65, 42, 0.75))), url('../assets/blog.jpg');
  background: -webkit-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/blog.jpg');
  background: -o-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/blog.jpg');
  background: linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url('../assets/blog.jpg');
  background-size: cover;
  background-position: right 50% top 30%;

  .blog-heroBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    h1 {
      font-weight: bold;
      font-size: 3rem;
      margin: 2rem 0 0;
    }

    div {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 3rem;
    }

  }

}

.for-sale-container {
  max-width: 1000px;
  margin: 2rem auto 3rem;
  padding: 0 1rem;

  p {
    font-size: 1.2rem;
    text-align: center;
  }

  h2 {
    color: $red;
    display: inline-block;
    padding: .5rem;
  }

  .for-sale-grid, .sold-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    .house {
      display: inline-block;
      position: relative;
      width: 300px;
      height: 300px;
      margin: .5rem;
      color: $white;
      -webkit-transition: ease all 0.3s;
      -o-transition: ease all 0.3s;
      transition: ease all 0.3s;

      &:hover {
        -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
                transform: scale(1.03);
      }

      h2 {
        position: absolute;
        display: inline-block;
        background-color: $red;
        color: $white;
        padding: 1rem;
      }
    }
  }

}

.blog-container {
  margin: 5rem auto;
  max-width: 1000px;
  margin: 2rem auto 3rem;
  padding: 0 1rem;

  .blog-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    .post {
      border: 1px solid $gray;
      border-radius: 3px;
      padding: 1rem;
      width: 300px;
      margin: .5rem;
      -webkit-transition: ease all 0.3s;
      -o-transition: ease all 0.3s;
      transition: ease all 0.3s;

      a {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        color: $black;
        text-decoration: none;
      }

      h1 {
        margin: 0;
      }

      span {
        display: block;
        text-align: right;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto;
        -ms-flex-item-align: end;
            align-self: flex-end;
      }

      &:hover {
        -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
                transform: scale(1.03);

        h1 {
          color: $red;
        }
      }
    }
  }

}

.home-worth {
  margin: 60px 0;
  text-align: center;

  img {
    width: 100%;
    max-width: 300px;
    margin: 2rem auto;
  }

  .home-worth-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid $red;
    border-radius: .5rem;

    input {
      margin: 0.4rem 0;
      background-color: rgba(201, 65, 42,0.01);
      border: 1px solid rgba(201, 65, 42,0.1);
      border-radius: 3px;
      color: $black;
      height: 2.5rem;
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: none;
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease;
      vertical-align: middle;
      padding: 9px 12px 8px;

      &::-webkit-input-placeholder {
        color: $red;
      }

      &:-ms-input-placeholder {
        color: $red;
      }

      &::-ms-input-placeholder {
        color: $red;
      }

      &::placeholder {
        color: $red;
      }

      &:focus {
        border: 1px solid rgba(201, 65, 42,0.4);
        color: $black;
        background-color: $white;
      }
    }

    .name-box, .contact-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .name, .contact {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;

      &:first-child {
        margin-right: 0.4rem;
      }
    }

    .address {
      width: 100%;
    }

    .submit {
      background-color: $red;
      color: $white;

      &:hover {
        background-color: lighten($red, 7%)
      }

      &:focus {
        border: 1px solid rgba(201, 65, 42,0.4);
        background-color: $red;
        color: $white;
      }
    }
  }
}

.testimonials {
  background-color: $gray;

  h1 {
    margin: 0;
    color: $red;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.7rem;
  }

  .quote {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 10rem;
    background-image: url('../assets/quotes.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

}

// Small devices
@media (max-width: 480px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .navigation {
    margin: 15px 0;

    a {
      padding: 0.8rem;
    }
  }

  .hero {
    height: 400px;

    .heroBox {

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      .john {
        height: 275px;
      }
    }
  }

  .home-worth {
    margin: 60px 1rem;

    .home-worth-form {

      .name-box, .contact-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }

      .name, .contact {

        &:first-child {
          margin-right: 0rem;
        }
      }

    }

  }

  .for-sale-container {

    .for-sale-grid, .sold-grid {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }

  footer {

    .footerBox {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }

    .contact {
      margin-left: 0;
      margin-bottom: 3rem;
    }

    .logoBox {
      margin-bottom: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 200px;

      img:first-child {
        margin-bottom: 0;
      }
    }

    .subscribe {
      margin-left: 0;
      margin-bottom: 3rem;
    }
  }

  .about-hero {
    background-position: center right;
  }
}

// Medium devices
@media (max-width: 768px) and (min-width: 480px) {

  .home-worth {
    margin: 60px 1rem;

    .home-worth-form {

      .name-box, .contact-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }

      .name, .contact {

        &:first-child {
          margin-right: 0rem;
        }
      }

    }

  }

  .hero {
    height: 475px;

    .heroBox {

      h1 {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 1.75rem;
      }

      .john {
        height: 325px;
      }
    }
  }

  nav {
    .jlj_logo {
      height: 40px;
    }

    .migre_logo {
      height: 70px;
    }
  }

  .about-hero {
    background-position: center right;
  }

}

@media (max-width: 1024px) {
  footer {

    .footerBox {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }

    .contact {
      margin-left: 0;
      margin-bottom: 3rem;
    }

    .logoBox {
      margin-bottom: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 200px;

      img:first-child {
        margin-bottom: 0;
      }
    }

    .subscribe {
      margin-left: 0;
      margin-bottom: 3rem;
    }
  }
}
