/* Colors */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #FCFAF9;
  color: #302C2B;
  font-family: 'Dosis', sans-serif; }

header {
  padding: 1rem; }

nav {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto; }
  nav .selected {
    color: #C9412A; }
  nav a {
    color: #302C2B;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: .2s ease border-bottom;
    -o-transition: .2s ease border-bottom;
    transition: .2s ease border-bottom;
    display: inline-block; }
    nav a:hover {
      border-bottom: 2px solid #C9412A; }
  nav .jlj_logo {
    height: 60px; }
  nav .migre_logo {
    height: 90px; }

footer {
  background-color: #302C2B;
  color: #C1BEBD; }
  footer h1 {
    margin: 0 0 1rem;
    font-size: 1.7rem;
    font-weight: normal;
    color: #FCFAF9; }
  footer .footerBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0; }
  footer .logoBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    footer .logoBox div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    footer .logoBox img {
      display: inline-block;
      margin: 0 1rem; }
    footer .logoBox h3 {
      font-weight: normal;
      color: #FCFAF9; }
  footer .contact {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 3rem; }
    footer .contact a {
      color: #C1BEBD; }
    footer .contact .social {
      margin-top: 1rem; }
      footer .contact .social a {
        font-size: 2rem;
        margin: 0 1rem 0 0; }
        footer .contact .social a:hover {
          color: #C9412A; }
    footer .contact p {
      font-size: 1.2rem;
      margin: 0 0 .5rem; }
      footer .contact p svg {
        color: #C9412A;
        margin-right: .5rem; }
  footer .subscribe {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 3rem;
    max-width: 325px; }
    footer .subscribe input {
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 3px;
      color: rgba(255, 255, 255, 0.3);
      height: 2.5rem;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease;
      vertical-align: middle;
      padding: 9px 12px 8px; }
      footer .subscribe input:focus {
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #302C2B;
        background-color: #FCFAF9; }
    footer .subscribe .name-input {
      width: 70%; }
    footer .subscribe .submit-btn {
      width: 27%;
      margin-left: 2%;
      text-align: center;
      background-color: #C9412A;
      color: white; }
      footer .subscribe .submit-btn:hover {
        background-color: #d75640; }
    footer .subscribe .email-input {
      width: 100%;
      margin-top: 3%; }

.hero {
  height: 500px;
  background-color: #C9412A;
  color: #FCFAF9;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 65, 42, 0.75)), to(rgba(201, 65, 42, 0.75))), url("../assets/columbus.png");
  background: -webkit-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url("../assets/columbus.png");
  background: -o-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url("../assets/columbus.png");
  background: linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url("../assets/columbus.png");
  background-size: cover; }
  .hero .heroBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative; }
    .hero .heroBox h1 {
      font-weight: bold;
      font-size: 3rem; }
    .hero .heroBox h2 {
      font-weight: normal;
      font-size: 2.5rem; }
    .hero .heroBox div {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 3rem;
      margin-bottom: 4rem;
      margin-right: 30%; }
    .hero .heroBox .john {
      height: 400px;
      position: absolute;
      right: 0; }

.about-hero {
  height: 250px;
  background-color: #C9412A;
  color: #FCFAF9;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 65, 42, 0.75)), to(rgba(201, 65, 42, 0.75))), url("../assets/ohio.jpg");
  background: -webkit-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url("../assets/ohio.jpg");
  background: -o-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url("../assets/ohio.jpg");
  background: linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url("../assets/ohio.jpg");
  background-size: cover;
  background-position: right 50% top 30%; }
  .about-hero .about-heroBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .about-hero .about-heroBox h1 {
      font-weight: bold;
      font-size: 3rem;
      margin: 2rem 0 0; }
    .about-hero .about-heroBox div {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 3rem; }

.about {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem; }

.listings-hero {
  height: 250px;
  background-color: #C9412A;
  color: #FCFAF9;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 65, 42, 0.75)), to(rgba(201, 65, 42, 0.75))), url("../assets/city.png");
  background: -webkit-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url("../assets/city.png");
  background: -o-linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url("../assets/city.png");
  background: linear-gradient(rgba(201, 65, 42, 0.75), rgba(201, 65, 42, 0.75)), url("../assets/city.png");
  background-size: cover;
  background-position: right 50% bottom 0%; }
  .listings-hero .listings-heroBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .listings-hero .listings-heroBox h1 {
      font-weight: bold;
      font-size: 3rem;
      margin: 2rem 0 0; }
    .listings-hero .listings-heroBox div {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 3rem; }

.for-sale-container {
  max-width: 1000px;
  margin: 2rem auto 3rem;
  padding: 0 1rem; }
  .for-sale-container p {
    font-size: 1.2rem;
    text-align: center; }
  .for-sale-container h2 {
    color: #C9412A;
    display: inline-block;
    padding: .5rem; }
  .for-sale-container .for-sale-grid, .for-sale-container .sold-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .for-sale-container .for-sale-grid .house, .for-sale-container .sold-grid .house {
      display: inline-block;
      position: relative;
      width: 300px;
      height: 300px;
      margin: .5rem;
      color: #FCFAF9;
      -webkit-transition: ease all 0.3s;
      -o-transition: ease all 0.3s;
      transition: ease all 0.3s; }
      .for-sale-container .for-sale-grid .house:hover, .for-sale-container .sold-grid .house:hover {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03); }
      .for-sale-container .for-sale-grid .house h2, .for-sale-container .sold-grid .house h2 {
        position: absolute;
        display: inline-block;
        background-color: #C9412A;
        color: #FCFAF9;
        padding: 1rem; }

.blogContent {
  text-align: center; }

.home-worth {
  margin: 60px 0;
  text-align: center; }
  .home-worth img {
    width: 100%;
    max-width: 300px;
    margin: 2rem auto; }
  .home-worth .home-worth-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #C9412A;
    border-radius: .5rem; }
    .home-worth .home-worth-form input {
      margin: 0.4rem 0;
      background-color: rgba(201, 65, 42, 0.01);
      border: 1px solid rgba(201, 65, 42, 0.1);
      border-radius: 3px;
      color: #302C2B;
      height: 2.5rem;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease;
      vertical-align: middle;
      padding: 9px 12px 8px; }
      .home-worth .home-worth-form input::-webkit-input-placeholder {
        color: #C9412A; }
      .home-worth .home-worth-form input:-ms-input-placeholder {
        color: #C9412A; }
      .home-worth .home-worth-form input::-ms-input-placeholder {
        color: #C9412A; }
      .home-worth .home-worth-form input::placeholder {
        color: #C9412A; }
      .home-worth .home-worth-form input:focus {
        border: 1px solid rgba(201, 65, 42, 0.4);
        color: #302C2B;
        background-color: #FCFAF9; }
    .home-worth .home-worth-form .name-box, .home-worth .home-worth-form .contact-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .home-worth .home-worth-form .name, .home-worth .home-worth-form .contact {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .home-worth .home-worth-form .name:first-child, .home-worth .home-worth-form .contact:first-child {
        margin-right: 0.4rem; }
    .home-worth .home-worth-form .address {
      width: 100%; }
    .home-worth .home-worth-form .submit {
      background-color: #C9412A;
      color: #FCFAF9; }
      .home-worth .home-worth-form .submit:hover {
        background-color: #d75640; }
      .home-worth .home-worth-form .submit:focus {
        border: 1px solid rgba(201, 65, 42, 0.4);
        background-color: #C9412A;
        color: #FCFAF9; }

.testimonials {
  background-color: #C1BEBD;
  padding: 2rem;
  position: relative;
  min-height: 314px; }
  .testimonials h1 {
    margin: 0;
    color: #C9412A;
    font-size: 1.5rem;
    opacity: 1;
    visibility: visible;
    -webkit-transition: visibility 0s, opacity 0.5s ease;
    -o-transition: visibility 0s, opacity 0.5s ease;
    transition: visibility 0s, opacity 0.5s ease; }
  .testimonials p {
    font-size: 1.7rem;
    opacity: 1;
    visibility: visible;
    -webkit-transition: visibility 0s, opacity 0.5s ease;
    -o-transition: visibility 0s, opacity 0.5s ease;
    transition: visibility 0s, opacity 0.5s ease; }
  .testimonials .quote {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    background-image: url("../assets/quotes.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .testimonials .hidden {
    visibility: hidden;
    opacity: 0; }

@media (max-width: 480px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .navigation {
    margin: 15px 0; }
    .navigation a {
      padding: 0.8rem; }

  .hero {
    height: 400px; }
    .hero .heroBox h1 {
      font-size: 2rem; }
    .hero .heroBox h2 {
      font-size: 1.5rem; }
    .hero .heroBox .john {
      height: 275px; }

  .home-worth {
    margin: 60px 1rem; }
    .home-worth .home-worth-form .name-box, .home-worth .home-worth-form .contact-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .home-worth .home-worth-form .name:first-child, .home-worth .home-worth-form .contact:first-child {
      margin-right: 0rem; }

  .for-sale-container .for-sale-grid, .for-sale-container .sold-grid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  footer .footerBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  footer .contact {
    margin-left: 0;
    margin-bottom: 3rem; }
  footer .logoBox {
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 200px; }
    footer .logoBox img:first-child {
      margin-bottom: 0; }
  footer .subscribe {
    margin-left: 0;
    margin-bottom: 3rem; }

  .about-hero {
    background-position: center right; } }
@media (max-width: 768px) and (min-width: 480px) {
  .hero {
    height: 475px; }
    .hero .heroBox h1 {
      font-size: 2.5rem; }
    .hero .heroBox h2 {
      font-size: 1.75rem; }
    .hero .heroBox .john {
      height: 325px; }

  nav .jlj_logo {
    height: 40px; }
  nav .migre_logo {
    height: 70px; }

  .about-hero {
    background-position: center right; } }
@media (max-width: 1024px) {
  footer .footerBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  footer .contact {
    margin-left: 0;
    margin-bottom: 3rem; }
  footer .logoBox {
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 200px; }
    footer .logoBox img:first-child {
      margin-bottom: 0; }
  footer .subscribe {
    margin-left: 0;
    margin-bottom: 3rem; } }

/*# sourceMappingURL=main.css.map */
